.footerContainer {
  width: 95%;
  margin: auto;
  background-color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 140px;
  padding: 35px;
}

.footerContent p {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}


@media only screen and (min-width: 600px) { 
    .footerContainer {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .footerContainer { 
        width: 90%;
    }
 }
